
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>
    Kalola Hill
    24010101120
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello World..!!")

Hello World..!!

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [3]:
name = input("Enter your Name : ")
print(f"Hello {name}, welcome to Python Lab")

Enter your Name :  Hill

Hello Hill, welcome to Python Lab

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [8]:
a, b, c = input("Enetr 3 numbers : ").split(' ')
a = int(a)
b = int(b)
c = int(c)
print(f"Numbers : {a} {b} {c}")
print(f"sum : {a+b+c}")
print(f"Average : {(a+b+c)/3}")

Enetr 3 numbers :  10 20 30

Numbers : 10 20 30
sum : 60
Average : 20.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [10]:
name = input("enter your name : ")
age = int(input("Enter your age : "))
per = float(input("Enter your percentage : "))
print(f"Name : {name} Type : {type(name)}")
print(f"Age : {age} Type : {type(age)}")
print(f"Percentage : {per} Type : {type(per)}")

enter your name :  hill
Enter your age :  19
Enter your percentage :  99.8

Name : hill Type : <class 'str'>
Age : 19 Type : <class 'int'>
Percentage : 99.8 Type : <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [17]:
print(" Python ", " Programming " ," Basic " ,sep = "|", end = "###")

 Python | Programming | Basic ###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [18]:
st = input("Enter a value : ")
print(f"Value : {st}")
print(f"Type : {type(st)}")
print(f"ID : {id(st)}")

Enter a value :  Hill

Value : Hill
Type : <class 'str'>
ID : 2282438134256

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [20]:
a = 10
print(f"Original ID of a : {id(a)}")
a = 20
print(f"New ID of a : {id(a)}")

Original ID of a : 140724308849864
New ID of a : 140724308850184

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [22]:
print("""Welcome to Python 
This is the second lab
Enjoy coding!""")

Welcome to Python
This is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [32]:
print(f"{'Sr No':^10} {'Name':^10} {'Subject':^15} {'Grade':^10} {'Percentage':^10}")
print(f"{'1':^10} {'Nisha Patel':^10} {'Math':^10} {'A':^17} {'92':^5}")
print(f"{'2':^10} {'Aarav Modi':^10} {'Science':^15} {'B+':^10} {'85':^10}")
print(f"{'3':^10} {'Jiya Shah':^10} {'English':^15} {'A+':^10} {'96':^10}")

  Sr No       Name        Subject       Grade    Percentage
    1      Nisha Patel    Math            A          92
    2      Aarav Modi     Science         B+         85
    3      Jiya Shah      English         A+         96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [36]:
a = float(input("Enter a number : "))
print(f"2 decimals:{a: .2f}")
print(f"3 decimals:{a: .3f}")
print(f"Width:{a:10.2f}")

Enter a number :  45.3646

2 decimals: 45.36
3 decimals: 45.365
Width:     45.36

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [38]:
a, b = input("Enter 2 numbers").split(' ')
a = int(a)
b = int(b)
print(f"Sum : {a+b}")
print(f"Difference : {a-b}")
print(f"Product : {a*b}")

Enter 2 numbers 12 8

Sum : 20
Difference : 4
Product : 96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [42]:
d,m,y = input("Enter 3 numbers").split(' ')
d = int(d)
m = int(m)
y = int(y)
print(d,m,y , sep = "/")
print(y,m,d , sep = "-")

Enter 3 numbers 01 12 2025

1/12/2025
2025-12-1

### 13) WAP to calculate area and perimeter of a circle.

In [48]:
import math as m

In [49]:
r = float(input("Enter a radius : "))
print(f"area : {m.pi * r * r}")
print(f"Perimeter : {2 * m.pi * r}")

Enter a radius :  10

area : 314.1592653589793
Perimeter : 62.83185307179586

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [51]:
d = float(input("Enter a degree : "))
print(f"Fahrenheit : {(d + 9 / 5) + 32}")
f = float(input("Enter a Fahrenheit : "))
print(f"Fahrenheit : {(f - 32) * 5 / 9}")

Enter a degree :  45

Fahrenheit : 78.8

Enter a Fahrenheit :  45

Fahrenheit : 7.222222222222222

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [52]:
d = float(input("Enter a kilpmeter : "))
print(f"meter : {(d * 1000)}")
print(f"feet : {(d * 3280.84)}")
print(f"inches : {(d * 39370.1)}")
print(f"centometer : {(d * 100000)}")

Enter a kilpmeter :  20

meter : 20000.0
feet : 65616.8
inches : 787402.0
centometer : 2000000.0